object Endpoint "{{ icinga2_parent }}" {
}

object Zone "master" {
  endpoints = [ "{{ icinga2_parent }}" ]
}

object Endpoint NodeName {
}

object Zone NodeName {
  endpoints = [ NodeName ]
  parent = "master"
}

object Zone "global-templates" {
  global = true
}
